.settings-wrapper{
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

}

#avatar {
  height: 30px;
  width: 30px;
  position: absolute;
  margin-top: 25px;
  margin-left: 1030px !important;
}

.setting-navbar {
  margin-left: 20px;
}

.settings-title {
  font-family: 'aktiv_groteskbold';
  font-size: 30px;
  text-align: start;
  margin-top: 31px;
  margin-left: 30px;
}

.settings-link {
  color: #000000;
  font-family: 'aktiv_groteskmedium';
  font-size: 14px;

}

.settings a {
  text-decoration: none;
}

.settings-link:focus {
  border-style: none;

}

.settings-link:hover {
  color: #1498BE !important;
  border-style: none;
}

.settings-link.active {
  color: #1498BE !important;
  border-style: none;
  border-bottom: 3px solid #1498BE !important;
}

.settings-link:active {
  border-style: none;
}

.settings-tabs {
  border-style: none;
  /* margin-bottom: -10px !important; */
}


@media screen and (max-width: 960px) {
  #avatar {
    /* position: absolute; */
    margin-top: 26px !important;
    margin-left: 56rem !important;
  }
  .settings-tabs {
    margin-left: 15px !important;
  }
  .settings-link {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
  
}

